#------------------------------------------------------------
# Detector information:

# Attention this is the detector information for the SIMULATIONS, not for revan
# In ortder to ensure it is not usedf for the normal analysis, the trigger threshold is set x100 higher
Include COSISMEX.Ge.DetectorBuild.QQQQ.geo


Simple               GeD_X

# The GeD volume for the simulations includes both the 3D strip volume and the GR in WholeWafer
Volume GeWafer_QQ_QQ
GeWafer_QQ_QQ.Material active_ge_recoil
GeWafer_QQ_QQ.Visibility 1
GeWafer_QQ_QQ.Color 4
GeWafer_QQ_QQ.Shape WholeWafer_QQ_QQ
GeWafer_QQ_QQ.Mother Detector_QQ_QQ
GeWafer_QQ_QQ.Position {-0.6555 + Xshift} {0.0 + Yshift} {Zshift} 


GeD_X.SensitiveVolume      GeWafer_QQ_QQ
GeD_X.DetectorVolume       GeWafer_QQ_QQ

GeD_X.Offset               0.0 0.0
GeD_X.StripNumber          2048 2048

GeD_X.EnergyResolution   Gauss     0.0     0.0    1.04
GeD_X.EnergyResolution   Gauss    100.0    100.0  1.04
GeD_X.EnergyResolution   Gauss    300.0    300.0  1.10
GeD_X.EnergyResolution   Gauss   1000.0   1000.0  1.32
GeD_X.EnergyResolution   Gauss   3000.0   3000.0  1.94
GeD_X.EnergyResolution   Gauss  10000.0  10000.0  4.14


GeD_X.TriggerThreshold     130.
GeD_X.NoiseThresholdEqualsTriggerThreshold  True



#------------------------------------------------------------
# Trigger information:

Trigger Trigger_GeD_X
Trigger_GeD_X.Detector GeD_X 1
Trigger_GeD_X.TriggerByChannel true
Trigger_GeD_X.Veto false




